[submodule "Source code"]
	path = lostops-app
	url = git@github.com:lostops-stg5/lostops-app.git
	branch = main
[submodule "Admin sys tools"]
	path = lostops-adminsys
	url = git@github.com:lostops-stg5/lostops-adminsys.git
	branch = develop
